body{
  font-family: Dancing Script;
	width: 100%;
	margin-left: 0%;

}

header{
  padding: 1vh 1vw;
  background-color: #5b7989;
  font-size: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

nav{
  color: #fff;
}

@media screen{
  nav{
    text-align: right;
  }
}

@media (max-width:420px){
  h1{
    text-align: center;
  }
  nav{
    text-align: center;
  }
  .contenedor{
    display: flex;
  }
}

@media(min-width:421px) and (max-width:720px){
  h1{
    text-align: center;
  }
  nav{
    text-align: center;
  }
}

@font-face {
	font-family: DancingScript;
	src: url(../fuentes/DancingScript.otf);
}

header h1{
  color: #ffffff;
  text-shadow: 2px 2px 2px #02010a;
  font-size: 1.5em;
}

#contenido{
  margin: 0%;
  text-align: center;
  background-color: #82c3a6;
}

.contenedor{
  width: 100%;
  background-color:  #d5c75f;
  text-align: center;
  display: flex;
  justify-content: center;
}

.contenedor img{
  width: 40%
  margin: 10px;
  border: 1px;
  box-shadow: #82c3a6;
  display: flex;
}

#imagen2 img{
  transition-property: border;
  transition-duration: 0.5s;
  box-shadow: #82c3a6;
  display: flex;
}

#imagen2 img:hover{
	border: solid 2px black;
}

.rotateMe{
 -webkit-transition: -webkit-transform 5s ease-out;
 -moz-transition: -moz-transform 5s ease-out;
 transition: transform 5s ease-out;
}
.rotateMe:hover {
 -webkit-transform: rotate(10deg);
 -moz-transform: rotate(10deg);
 transform: rotate(10deg);
}

#imagen3 img{
  transition-property: border;
  transition-duration: 0.5s;
  box-shadow: #82c3a6;
  display: flex;
}

#imagen3 img:hover{
	border: solid 2px black;
}

.translate:hover{
  transform: translate(5px,-20px);
  -webkit-transform: translate(5px,-20px);
  -o-transform: translate(5px,-20px);
  -moz-transform: translate(5px,-20px);
}

.adaptativa-porcentaje{
  padding: 1%;
  width: 50%;
}

footer{
  background-color: #C6d5c5;
  width: 100%;
  float: left;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

footer #acerca-de{
  width: 250px;
  height: 60px;
  float: left;
  padding: 50px;
}

footer #terminos{
  width: 250px;
  height: 60px;
  float: left;
  padding: 50px;
}

footer #redes-sociales{
  width: 250px;
  height: 60px;
  float: left;
  padding: 50px;
}

footer #redes-sociales img{
  width: 10%;
  height: 50%;
}

footer #derechos{
  width: 230px;
  height: 300px;
  float: left;
  padding-left: 50px;
  padding-top: 50px;
}

.contenedor article figure imagen4{
  width: 100%;
  background-color:  #d5c75f;
  text-align: center;
  display: flex;
  justify-content: center;
}

.container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #d5c75f;
  }
  img{
  	margin: 10px;
  	width: 400px;
  }


  .contenedor > div {
    margin-top: 20px;
  	text-align: center;
  	padding-top: : 100px;
  	margin: 100px;s
  	width: 60%;
    justify-content: space-around;

  }

  #imagen{
    float: left;
    width: 32%;
    margin: 2%;
  }

  #item{
    float: left;
    width: 32%;
    margin: 2%;
  }

  #item1 img{
    -webkit-filter: blur(10px); /* Chrome, Safari, Opera */
    filter: blur(10px);
  }

  #item2 img{
    -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);
  }

  #item3 img{
    -webkit-filter: sepia(90%); /* Chrome, Safari, Opera */
  	filter: sepia(90%);
  }

  #item4 img{
    -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);
  }


  #item6 img{
    -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);
  }
}
